<!DOCTYPE html>

<html>

    <head>
        <title>HN - TP LOCAL</title>
        <link rel="stylesheet" href="~/resources/Index.css" />
    </head>

    <body>
        <header>
            <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
            <h1>Bienvenue sur le TP HN</h1>
        </header>
        
        <nav>
            <ul>
            <li><a href="/Home/Form">Remplir le formulaire</a></li>
            <li><a href="/Home/ListPage">Liste des avis</a></li>
            </ul>
        </nav>
        <section>
            <p>
                <a href="/Home/Form">Remplir le Formulaire</a>
            </p>
        </section>
    </body>

</html>
